@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.svg-wrapper {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

.floating-svg {
  position: absolute;
  opacity: 0.4;
  animation: floatUp linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(-20vh);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.job-text {
  display: inline-block;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.job-text.show {
  opacity: 1;
  transform: translateY(0);
}

.job-text.hide {
  opacity: 0;
  transform: translateY(10px);
}

/* @keyframes move {
  to {
    transform: translateX(calc(-100% + 100vw));
  }
} */

#sectionPin {
  margin-top: 0 !important;
  padding-top: 0 !important;
  top: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background: #111;
}

.pin-wrap {
  width: 250vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
}

.project-container {
  border: #39403b 1px solid;
  border-radius: 0.75rem;
}
